<%- include('./header') %>

<main id="blog">
    <h2>Weekly Nerds</h2>
    <section>

    <details open>
        <summary><h2>Nerd #1: Kilian</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 1 | Kilian Valkhof</h3>
            <p>Kilian Valkhof is een veteraan in de wereld van het web, hij heeft veel ervaring met websites en nog meer met browsers. Hij is de eigenaar en ontwikkelaar van de browser Polypane, een developer browser volledig gemaakt in JavaScript! Hij heeft hiervoor gekozen, omdat hij al bekend was met de taal, het werkt, is licht en minder breekbaar.</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Developers van browsers, en de kracht van browsers</li>
                <li>Toegankelijkheid op het web</li>
                <li>Het web is cool! Browsers zorgen hiervoor</li>
            </ol>
            <hr>
            <p>Kilian sprak veel over browsers en wat een browser allemaal doet voor het web, de verschillen van browser developers en het verschil tussen browsers en hun developers.</p>
            <p>Browsers zijn veel beter en sneller in Javascript dan client-side JS zelf is, daarnaast kunnen browsers ook veel meer omdat die meer toegang hebben in een systeem.</p>
            <h4>Leuke dingen</h4>
            <ul>
                <li>container queries</li>
                <li>dialogs</li>
                <li>masonry grid</li>
                <li>scroll-driven-animations</li>
            </ul>
            <h4>Reflectie</h4>
            <p>Kilian heeft mij laten zien met zijn browser, dat je niet perse hoeft te houden aan standaarden op het web. Door zijn eigen browser te maken, in JS, heeft hij zijn eigen voorkeuren en wensen verwerkt. Dit heeft ook nog eens nut voor andere gebruikers. Dit is super gaaf om te zien en om te zien wat browsers allemaal kunnen. De weekly nerd van Kilian heeft mij ook meer inzicht geboden rondom browsers, hun developers en toffe css tricks.</p>
            <h3>Weekly Nerd | Week 1 | Kilian Valkhof</h3>
            <p>Kilian Valkhof is een veteraan in de wereld van het web, hij heeft veel ervaring met websites en nog meer met browsers. Hij is de eigenaar en ontwikkelaar van de browser Polypane, een developer browser volledig gemaakt in JavaScript! Hij heeft hiervoor gekozen, omdat hij al bekend was met de taal, het werkt, is licht en minder breekbaar.</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Developers van browsers, en de kracht van browsers</li>
                <li>Toegankelijkheid op het web</li>
                <li>Het web is cool! Browsers zorgen hiervoor</li>
            </ol>
            <hr>
            <p>Kilian sprak veel over browsers en wat een browser allemaal doet voor het web, de verschillen van browser developers en het verschil tussen browsers en hun developers.</p>
            <p>Browsers zijn veel beter en sneller in Javascript dan client-side JS zelf is, daarnaast kunnen browsers ook veel meer omdat die meer toegang hebben in een systeem.</p>
            <h4>Leuke dingen</h4>
            <ul>
                <li>container queries</li>
                <li>dialogs</li>
                <li>masonry grid</li>
                <li>scroll-driven-animations</li>
            </ul>
            <h4>Reflectie</h4>
            <p>Kilian heeft mij laten zien met zijn browser, dat je niet perse hoeft te houden aan standaarden op het web. Door zijn eigen browser te maken, in JS, heeft hij zijn eigen voorkeuren en wensen verwerkt. Dit heeft ook nog eens nut voor andere gebruikers. Dit is super gaaf om te zien en om te zien wat browsers allemaal kunnen. De weekly nerd van Kilian heeft mij ook meer inzicht geboden rondom browsers, hun developers en toffe css tricks.</p>
        </section>
    </details>


      <details>
        <summary><h2>Nerd #2: Fenna</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 2 | Fenna de Wilde</h3>
            <p>Fenna de Wilde werk bij een internationaal bedrijf waarin ze de focus heeft gelegd om de websites die zij developt voor het bedrijf zo toegankelijk mogelijk te maken. In deze weekly nerd behandeld zij haar eigen werk, toegankelijkheid tips en tricks en laat ze coole dingen zien.</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Toegankelijk ticks, kleine dingen maken het verschil</li>
                <li>Coole websites en designs</li>
                <li>De vertaling van designer naar developer en great standards</li>
            </ol>
            <hr>
            <h4>Leuke dingen</h4>
            <ul>
                <li>Focus is iets dat ik zelf makkelijk oversla, simpel een <em>:focus</em>, was vaak al genoeg voor mij. Fenna heeft laten zien hoe goede focus een site van okay naar WOW kan maken voor mensen die het toetsenbord gebruiken. Ik gebruik zelf vaak het toetsenbord, en had hier nooit echt zo bij stil gestaan.</li>
                <li>Aria heeft super veel verschillende mogelijkheden, kijk op MDN vaker!</li>
            </ul>
            <p>Designers die bijvoorbeeld hun design op Figma maken, kunnen toegankelijkheid in kleur, contrast, tekstgrote, etc. makkelijk vergeten. Door dit in het designproces aan te pakken, kunnen conflicten makkelijk(er) voorkomen worden.</p>
            <h4>Reflectie</h4>
            <p>Fenna heeft mij laten zien hoe cool het is om een site zo toegankelijk mogelijk te maken, het is weer een puzzel op een andere manier. Ik denk dat als ik in het develop proces direct al toegankelijkheid verwerkt, dat dat het al een stuk makkelijker maakt.</p>

        </section>
      </details>


      <details>
        <summary><h2>Nerd #3: Jeffrey</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 3 | Jeffrey Arts</h3>
            <p>Jeffrey Arts is een developer en design/kunsternaar, hij maakt coole websites die hij verwerkt met kunst en daar komt hij over vertellen. Het was basically een grote 'kijk hoe cool dit is' presentatie, maar ik vond dat best leuk.</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Websites</li>
                <li>Kunst</li>
            </ol>
            <hr>
            <p>Jeffrey zijn presentatie was niet super goed geordend en soms lastig te volgen, halverwege begon het allemaal wat logischer in opbouw te worden. Daarbij had hij het onderwerp duidelijker voor ogen en dat werd duidelijk.</p>
            <h4>Leuke dingen</h4>
            <ul>
                <li>De websites die Jeffrey maakt zijn allemaal stylistisch erg indrukwekkend, hoe hij verschillende concepten in een toolbox gooide en daar later mee aanklooit was gaaf om te zien</li>
                <li>De betonnen kunst die hij had gemaakt was echt tof en ik zou dat ook wel willen (maken).</li>
            </ul>
            <h4>Reflectie</h4>
            <p>Ik denk dat ik van Jeffrey in ieder geval heb meegenomen dat bij een presentatie duidelijkheid en een coherent verhaal een hoop doet voor de luisteraar. Daarnaast vond ik het erg inspirerend om te zien hoe Jeffrey gebruik maakte van het web om kunst te maken. Dit lijkt mij ook gaaf om eens te proberen.</p>

        </section>
      </details>


      <details>
        <summary><h2>Nerd #4: Nils</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 4 | Nils Binder</h3>
            <p>Nils Binder is onze eerste niet Nederlandse spreker, maar dat deed zeker niks van zijn presentatie af. Hij werkt bij 9 elements als developer en heeft fantastisch mooie websites gemaakt, maar uitermate top grid toegepast.</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>De drie principes van 9 elements</li>
                <li>Wrapper elementen en grids</li>
                <li>Viewports and big screens</li>
            </ol>
            <hr>
            <p>Bij 9 elements werken ze met Communication design (non coding designers), Product development en webdevelopment. Deze werken nauw samen om een fantastisch product te maken.</p>
            <h4>Leuke dingen</h4>
            <ul>
                <li>De websites van 9 elements maken veel gebruik van 'slimme' wrappers, die een grid hebben om zo eenvoudig responsiveness te ontwikkelen voor zowel kleine als grote ontwerpen!</li>
                <li>De bigscreen designs waren super cool!</li>
            </ul>
            <h4>Reflectie</h4>
            <p>De presentatie van Nils was tot dat punt degene die mij het best bij stond, het was gaaf, leerzaam, duidelijk en behapbaar. Ik ben tot op de dag van vandaag blij dat ik daar toch naartoe ben geweest en heb vooral veel opgestoken van de bigscreen designs. Ik heb zelf een wide-screen monitor en wil daar meer mee doen.</p>

        </section>
      </details>

      <details>
        <summary><h2>Nerd #5: Jeremy</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 5 | Jeremy Keith</h3>
            <p>Jeremy Keith heeft in de wereld van het web geen introductie nodig, de man is ongeveer de grootvader van het web een heeft mijn docent 'les gegeven' met zijn boeken. In deze fantastische presentatie spreekt Keith over imperative en declarative programming, super tof!</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Imperative en declarative programming</li>
                <li>The programming mindset</li>
                <li>Kind of Blue van Miles Davis</li>
            </ol>
            <hr>
            <p>Jeremy Keith is een fantastische spreker en weet exact hoe hij een zaal kan aanspreken, dat alleen al was cool om te zien. Daarnaast was de inhoud van de presentatie net zo inspirerend en nuttig. Hij gaf een leuke vergelijking van Jazz en Klassieke muziek met Imperative en declarative programming/mindset en dat vond ik ook echt leuk!</p>
            <h4>Leuke dingen</h4>
            <ul>
                <li>De verschillende programming mindsets en de manier waarop de programmeertaal denkt.</li>
                <li>De manier waarop verschillende bedrijven denken en hoe jij dat kan toepassen om jezelf in een fijne omgeving kan zetten.</li>
            </ul>
            <h4>Reflectie</h4>
            <p>De presentatie van Keith was fenomenaal, ik heb hier enorm veel van opgestoken voor mezelf, mijn coden en mijn werkleven(mogelijk). Ik ben echt anders gaan kijken naar de genoemde onderdelen en heb daar voor mijzelf een duidelijke wens gevonden. Wat een ervaring!</p>

        </section>
      </details>

      <details>
        <summary><h2>Nerds #6: Marieke en Pim</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 6 | Marieke de Hoop en Pim Teeuwisse</h3>
            <p>Coming soon, was ziek toen</p>
            <h4>Onderwerp onderwerp</h4>
            <ol>
                <li></li>
            </ol>
            <hr>
            <h4>Leuke dingen</h4>
            <p></p>
            <h4>Reflectie</h4>
      </details>

      <details>
        <summary><h2>Nerd #7: Rosa</h2></summary>
        <section>
            <h3>Weekly Nerd | Week 7 | Rosa Schuurman</h3>
            <p>Rosa Schuurman is een creative coder, ze developed en maakt gave websites/producten en doet aan circuit bending. In haar presentatie laat ze zien hoe dat te werk gaat en wat wij hiervan kunnen opsteken</p>
            <h4>Onderwerpen</h4>
            <ol>
                <li>Creative coding</li>
                <li>Circuit bending</li>
            </ol>
            <hr>
            <h4>Leuke dingen</h4>
            <ul>
                <li>Het circuit bending is iets dat ik zelf nooit zou hebben verwacht te zien, maar het is wel cool en lijkt me gaaf om te proberen.</li>
            </ul>
            <h4>Reflectie</h4>
            <p>De presentatie van Rosa was voor mij niet zo heel speciaal in alle eerlijkheid, het ging eigenlijk effectief nergens over en ik werd er (relatief aan de andere) niet super warm van. Het was net niet nuttig of voor de hand liggend. Wat we mee konden nemen was: "De status-quo niet per definitie accepteren", maar dat is zo vaag.</p>

        </section>
      </details>
    <details>
        <summary><h2>Leerdoelen</h2></summary>
        <section>
            <h3>Mijn leerdoelen</h3>
            <ol>
                <li>Ritalin:<p> r realistisch i interactief met klanten t timemanagement a aandachtig l langdurig proces i in team verband communiceren n navolgbaar werk leveren </p></li>
                <li>Meer nieuwe CSS toepassingen verbinden met een werkelijk product en niet een utopische test; rekening houdende met toegankelijkheid en progressive enhancement</li>
                <li>Documentatie gedurende het project bijhouden</li>
            </ol>
        </section>
      </details>
    </section>
    	  <nav aria-hidden="true">
		  <ul aria-hidden="true">
			  <li><button>Nerd #1: Killian</button></li>
			  <li><button>Nerd #2: Fenna</button></li>
			  <li><button>Nerd #3: Jeffrey</button></li>
			  <li><button>Nerd #4: Nils</button></li>
			  <li><button>Nerd #5: Jeremy</button></li>
			  <li><button>Nerd #6: Pim en Marieke</button></li>
			  <li><button>Nerd #7: Rosa</button></li>
		  </ul>
    	  </nav>
</main>

<script src="/scripts/bewust.js"></script>
</body>
</html>