<%- include('./header') %>

<main id="blog">
    <% if (blog === '') { %>
        <h2>IdleGirlBlog</h2>
        <a href="/bewwwust/ethiek#blog">Filosofie</a>
        <a href="/bewwwust/nerds#blog">Nerds</a>
    <% } %>
    <% if (blog === 'weeklynerds') { %>
        <%- include('weeklynerds') %>
        <a href="/bewwwust/ethiek#blog">Bekijk een ander artikel</a>
        <a href="/bewwwust/#blog">Overzicht</a>
    <% } %>
    <% if (blog === 'dataEthiek') { %>
        <%- include('dataEthiek') %>
        <a href="/bewwwust/nerds#blog">Bekijk een ander artikel</a>
        <a href="/bewwwust/#blog">Overzicht</a>

    <% } %>

</main>


<script src="/scripts/bewust.js"></script>
</body>
</html>