
<h2>Data gebruik</h2>
<object data="/bewwwust/filosofie" type="application/pdf" width="50%" height="100%" >
  <p>Alternative text - include a link <a href="/bewwwust/filosofie">to the PDF!</a></p>
</object>